<link type="text/css" rel="stylesheet" href="/css/interviews.css">
<div id="interview-page-container">
    <section id="forms-container">
        <div class="create-interview-container">
            <h3>Create Interview</h3>
            <form id="create-interview-form" action="/interviews/create-interview" method="post">
                <label>Company Name:</label><br>
                <input id="company-name" type="text" name="company_name" placeholder="Company name" required><br><br>
                <label>Interview Date:</label><br>
                <input id="interview-date" type="date" name="interview_date" required><br><br>
                <button>Create Interview</button>
            </form>
        </div>
        <div class="assign-interview-form">
            <h3>Assign Student to Interview</h3>
            <form action="/interviews/assign-interview" method="post">
                <label>Student Email:</label><br>
                <select id="select-student" name="student_email" required>
                    <option value="" disabled selected hidden>Select Student</option>
                    <% for(let student of students){ %>
                        <option value="<%= student.email %>"><%= student.email %></option>
                    <% } %>
                </select><br><br>
                <label>Company Name:</label><br>
                <select id="select-company" name="company_name" required>
                    <option value="" disabled selected hidden>Select Company</option>
                    <% for(let interview of interviews){ %>
                        <option value="<%= interview.company_name %>"><%= interview.company_name %></option>
                    <% } %>
                </select><br><br>
                <button>Assign Interview</button>
            </form>
        </div>
    </section>

    <main id="interview-details-view">
        <h3>Interview Details</h3>
        <% for(let interview of interviews){ %>
            <div class="interview-container">
                <div class="interview-details">
                    <span><%= interview.company_name %></span>
                    <span><%= formatDate(interview.interview_date) %></span>
                    <i id="<%= interview._id %>" class="fa-solid fa-angle-down"></i>
                </div>
                <div class="students-list display-none" id="interview-assgn-<%= interview._id %>">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Result Status</th>
                            <th>Update Result Status</th>
                        </tr>
                        <% for(let student of interview.students){ %>
                            <tr>
                                <td><%= student.name %></td>
                                <td><%= student.email %></td>
                                <% for(let result of interview.results){ %>
                                    <% if(result.studentId == student.id){ %>
                                        <td><%= result.result %></td>
                                        <td>
                                            <form action="/interviews/update-interview-status" method="post">
                                                <select name="student_interview_result">
                                                    <option value="" disabled selected hidden>Update Status</option>
                                                    <option value="PASS">PASS</option>
                                                    <option value="FAIL">FAIL</option>
                                                    <option value="ON HOLD">ON HOLD</option>
                                                    <option value="DID NOT ATTEMPT">DID NOT ATTEMPT</option>
                                                </select><br>
                                                <input type="hidden" name="result" value="<%= result.id %>">
                                                <button>Update</button>
                                            </form>
                                        </td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        <% } %>
    </main>

    <script type="text/javascript" src="/js/interview.js"></script>
</div>