<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/css/layout.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">

    <!-- include styles for sub views -->
    <%- style -%>
</head>
<body>
    <%- include('_header'); -%>

    <%- body -%>

    <!-- include scripts for sub views -->
    <%- script -%>
</body>
</html>